
// color
$primary:#374795;
$on-primary:white;
$secondary:#F67500;
$on-secondary:white;
$error:#F44336;
$on-error:white;
$warning:#F7B860;
$on-warning:white;
$info:#2196F3;
$on-info:white;
$success:#4CAF50;
$on-success:white;
$bg:white;
$on-bg:rgb(46, 46, 46);
$surface:rgb(241, 241, 241);
$on-surface:rgb(0, 0, 0);
$disable:#9E9E9E;
$on-disable:black;






